// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.size-login{
    font-size: 1rem !important;
}


.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;


}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}


a {
    float: right;
}
.button {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
.purple
{
    background-color: #4737FF ;
    color: #fff
}
.icono i{
    font-size: 10px ;
}

// footer
.context-dark, .bg-gray-dark, .bg-primary {
    color: rgb(0, 0, 0);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #050505;
}



ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 40vh;
}
footer{
    margin-top: 20px;
}

.button-login {
    width: 140px;
    height: 45px;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    font-weight: 400;
    font-size: 1rem;
    color: white;
    background-color: #4d6de6;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button-login:hover {
    background-color: #4d6de6;
    color: #fff;
    transform: translateY(-7px);
}

.float-to-right{
    float:right !important;
}

.input-login{
    border:none;
    box-shadow: 0px 8px 15px #d9e3fc;
}

.text-body-big{
    font-size: 4.5rem !important;
    color: #181e4b;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    font-weight: 800;
}

.text-body-login-modal{
    font-size: 48px !important;
    color: #181e4b;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    font-weight: 800;
}

.text-body-small{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    font-weight: 400;
    font-size: 1rem !important;
    color: #181e4b;
}
.text-body-button{

    font-family: 'Plus Jakarta Sans', sans-serif !important;
    font-weight: 400;
    font-size: 0.75rem !important;
    color: #181e4b;
}

.text-body-medium{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    font-weight: 600;
    font-size: 1rem !important;
    color: #181e4b;
    text-decoration: none;
}
.text-body-medium2{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    font-weight: 600;
    font-size: 3.4 !important;
    color: #181e4b;
    text-decoration: none;
}

.text-body-title{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    font-weight: 600;
    font-size: 4.5rem !important;
    color: #4475F2;
    text-decoration: none;
}

.only-text-regular{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    font-weight: 400;
    color: grey;
}

.text-regular-size{
    font-size: 1.25rem !important;
}
.img-responsive{
    width: 100%;
    height: auto;
}

.navbar-transparent{
    background-color: transparent !important;
}
 .margin-navbar{
     margin-left: 40px;
     margin-right: 40px;
 }

 .button-body {
    width: 180px;
    height: 55px;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    font-weight: 400;
    font-size: 34px;
    color: white;
    background-color: #4d6de6;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-align: center;
}
.input-group-text{
    width: 180px;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    color: #000;
}
.button-email {
    width: 250px;
    height: 45px;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    font-weight: 400;
    font-size: 1rem;
    color: white;
    background-color: #4d6de6;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.bg-azul-claro{
    background: #EDF2FE !important;
}
.button-regresar{
    width: 218px;
    height: 42px;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    font-weight: 400;
    font-size: 22px;
    color: white;
    background-color: #5E6282;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-align: center;
}

.toggle {
    --width: 100px;
    --height: calc(var(--width) / 3);

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    border-radius: var(--height);
    cursor: pointer;
}

.toggle input {
    display: none;
}

.toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    border: 2px solid #aaa;
    transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 3px;
    width: calc(var(--height) * 0.6);
    height: calc(var(--height) * 0.6);
    border-radius: calc(var(--height) / 2);
    background-color: #364254;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
}

.toggle input:checked + .slider {
    border: 2px solid #037847;
}

.toggle input:checked + .slider::before {
    background-color: #037847;
}

.toggle .labels {
    position: absolute;
    top: 8px;
    left: 50px;
    width: 100%;
    height: 100%;
    color: #364254;
    font-size: 12px;
    font-family: sans-serif;
    transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
    content: attr(data-off);
    position: absolute;
    opacity: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
    content: attr(data-on);
    position: absolute;
    opacity: 0;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    transition: all 0.4s ease-in-out;
}

.toggle input:checked ~ .labels::after {
    opacity: 0;
}

.toggle input:checked ~ .labels::before {
    opacity: 1;
}

.a {
    text-decoration: none;
    color: white;
}

a .bi-input-cursor {
    color: #344054;
}

